@using TinyShop.Store.Components.Pages
@using TinyShop.Store.Components.Layout

<Router AppAssembly="@typeof(App).Assembly">
    <Found Context="routeData">
        <RouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)" />
        <FocusOnNavigate RouteData="@routeData" Selector="h1" />
    </Found>
    <NotFound>
        <PageTitle>Not found</PageTitle>
        <LayoutView Layout="@typeof(MainLayout)">
            <div class="container text-center mt-5">
                <h1>404 - Page Not Found</h1>
                <p>Sorry, there's nothing at this address.</p>
                <a href="/" class="btn btn-primary">Go Home</a>
            </div>
        </LayoutView>
    </NotFound>
</Router>